@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap%22");

:root {
	--color__one: #252525;
	--color__two: #ffa400;
	--color__three: #fc2933;
	--color__four: #ffffff;
	--color__gradiante: #ffa100, #fb103d;
	--background: #131415;
	--cards-bg: #252525;

	--text-white: #ffffff;

	--gradient: linear-gradient(to right, #ffa100, #fb103d);
	--color1: #ffa400;
	--color2: #fc2933;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #a3a3a3 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	background-color: #a3a3a3;
	border-radius: 10px;
	border: 3px solid #000000;
}

/* HEADER MAXIMO ARRAIGADA */

header {
	background-color: #000000;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

header img {
	width: 60px;
}

.logo__pizza {
	padding: 5px 0px 0px 65px;
}

.conteiner__menu {
	padding: 0px 20px;
}

nav > ul {
	height: 100%;
	display: flex;
}

.navbar {
	display: flex;
	align-items: center;
}

/* nav > ul > li {
	height: 100%;
	list-style: none;
	position: relative;
} */

header a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 30px;
	font-size: 15px;
	text-decoration: none;
	gap: 10px;
	font-style: normal;
	color: var(--color__two);
	transition: all 500ms ease;
}

/* .home__nav {
	color: var(--color__four);
}

.home__nav i {
	color: var(--color__two);
} */

nav > ul > li > a:hover {
	transform: scale(1.1);
	background: var(--color__two);
	box-shadow: 0px 0px 10px 0px var(--color__four);
	color: black;
}

.cart-icon:hover {
	color: var(--color__four);
}

#toggle-menu {
	display: none;
	position: absolute;
	top: 0px;
}

/* label i {
	font-size: 36px;
	display: none;
	position: absolute;
	top: 0;
} */

#toggle-cart {
	display: none;
}

#toggle-cart:checked + .cart {
	display: flex;
}

.cart {
	position: absolute;
	top: 90px;
	right: 0;
	padding: 50px 30px;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: calc(100vh - 90px);
	overflow-y: scroll;
	display: none;
	z-index: 2;
}

.cart::-webkit-scrollbar {
	display: none;
}
.cart h5 {
	color: var(--text-white);
	font-size: 20px;
	font-weight: 700;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background-color: var(--cards-bg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 20px;
	border-radius: 10px;
}

.item-info {
	display: flex;
	flex-direction: column;
	color: var(--text-white);
}

.item-info h3 {
	font-size: 15px;
	font-weight: 200;
}

.item-detalle {
	font-size: 14px;
}

.item-price {
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 19px;
	font-weight: 600;
}

.item-handler {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.q-handler {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-white);
	font-weight: 600;
	background: var(--gradient);
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
}

.item-cantidad {
	color: var(--text-white);
}

.item-borrar {
	color: var(--text-white);
	font-weight: 700;
	font-size: 10px;
	cursor: pointer;
}

.divider {
	margin-top: 20px;
	border: 0.5px solid var(--color1);
}

.cart-total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: var(--text-white);
	font-size: 18px;
}

.cart-total p {
	font-weight: 600;
}

.cart button {
	background: linear-gradient(to right, #ffa100, #fb103d);
	color: #fafafa;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	font-weight: 700;
	align-self: center;
	cursor: pointer;
	transition: all 0.5s;
}

.cart button:hover {
	color: #000000;
	transition: all 0.5s;
}

body {
	background: #000000;
}

/*Main*/
main {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*Hero*/
#hero {
	display: flex;
	padding: 70px 0px;
	justify-content: space-between;
	color: var(--text-white);
	align-items: center;
	gap: 50px;
	width: 85%;
	max-width: 1200px;
}

.hero-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
}

.hero-info h1 {
	font-size: 66px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
}

.hero-info span {
	font-size: 51px;
}

.hero-info p {
	font-size: 21px;
	font-weight: 400;
}

.hero-btn {
	color: var(--text-white);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
	background-image: linear-gradient(to right, #ffa100 0%, #fb103d 51%, #ffa100 100%);
	border-radius: 15px;
	padding: 15px 15px;
	text-align: center;
	width: 166px;
	background-size: 200%;
	text-decoration: none;
	transition: 1s;
}

.hero-img {
	width: 470px;
}

/*Recomendados*/

#recomendaciones {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	flex-wrap: wrap;
	margin: 35px 0;
	width: 85%;
	max-width: 1200px;
}

#recomendaciones h2 {
	color: #fafafa;
	font-weight: 500;
	max-width: 290px;
	text-align: left;
	position: relative;
}

#recomendaciones h2::after {
	content: "";
	height: 2px;
	width: 100%;
	background: #fafafa;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.4s ease;
}

#recomendaciones h2:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.recomendaciones-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.recomendaciones-card-1 {
	width: 360px;
	height: 90px;
	display: flex;
	gap: 14px;
	background: #252525;
	border-radius: 16px;
	justify-content: center;
	align-items: center;
	transition: all 0.4s linear;
}

.recomendaciones-card-1:hover {
	transform: scale(1.06);
	transition: all 0.4s linear;
}

.recomendaciones-card-1 img {
	height: 70px;
	width: 70px;
}

.recomendaciones-card-1 div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.recomendaciones-card-1 p {
	background: #252525;
	color: #fafafa;
}

.recomendaciones-card-1 p:nth-of-type(2) {
	color: #727272;
}

.recomendaciones-card-1 p:nth-of-type(3) {
	background: linear-gradient(to right, #ffa100, #fb103d);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: 900;
	font-size: 1.4em;
}

.recomendaciones-card-1 button {
	background: linear-gradient(to right, #ffa100, #fb103d);
	color: #fafafa;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	font-weight: 700;
	align-self: center;
	cursor: pointer;
	transition: all 0.5s;
}

.recomendaciones-card-1 button:hover {
	color: #000000;
	transition: all 0.5s;
}

.recomendaciones-card-2 {
	width: 360px;
	height: 90px;
	display: flex;
	gap: 18px;
	background: #252525;
	border-radius: 16px;
	justify-content: center;
	align-items: center;
	transition: all 0.4s linear;
}

.recomendaciones-card-2:hover {
	transform: scale(1.06);
	transition: all 0.4s linear;
}

.recomendaciones-card-2 img {
	height: 70px;
	width: 70px;
}

.recomendaciones-card-2 div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.recomendaciones-card-2 p {
	background: #252525;
	color: #fafafa;
}

.recomendaciones-card-2 p:nth-of-type(2) {
	color: #727272;
}

.recomendaciones-card-2 p:nth-of-type(3) {
	background: linear-gradient(to right, #ffa100, #fb103d);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: 900;
	font-size: 1.4em;
}

.recomendaciones-card-2 button {
	background: linear-gradient(to right, #ffa100, #fb103d);
	color: #fafafa;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	font-weight: 700;
	align-self: center;
	cursor: pointer;
	transition: all 0.5s;
}

.recomendaciones-card-2 button:hover {
	color: #000000;
	transition: all 0.5s;
}

.recomendaciones-card-3 {
	width: 360px;
	height: 90px;
	display: flex;
	gap: 14px;
	background: #252525;
	border-radius: 16px;
	justify-content: center;
	align-items: center;
	transition: all 0.4s linear;
}

.recomendaciones-card-3:hover {
	transform: scale(1.06);
	transition: all 0.4s linear;
}

.recomendaciones-card-3 img {
	height: 70px;
	width: 70px;
}

.recomendaciones-card-3 div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.recomendaciones-card-3 p {
	background: #252525;
	color: #fafafa;
}

.recomendaciones-card-3 p:nth-of-type(2) {
	color: #727272;
}

.recomendaciones-card-3 p:nth-of-type(3) {
	background: linear-gradient(to right, #ffa100, #fb103d);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: 900;
	font-size: 1.4em;
}

.recomendaciones-card-3 button {
	background: linear-gradient(to right, #ffa100, #fb103d);
	color: #fafafa;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	font-weight: 700;
	align-self: center;
	cursor: pointer;
	transition: all 0.5s;
}

.recomendaciones-card-3 button:hover {
	color: #000000;
	transition: all 0.5s;
}

/* Categorías */

#categorias {
	margin-top: 50px;
	width: 85%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

#categorias h4 {
	color: #ffffff;
	display: flex;
	text-align: left;
}

#categorias p {
	color: #ffffff;
}

.categorias-cards {
	display: flex;
	gap: 40px;
}

.caja1 {
	height: 171px;
	width: 147px;
	border-radius: 1rem;
	color: #918c8c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.caja1 p {
	margin-top: 20px;
}

.barra1 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	margin-top: 10px;
	border-radius: 2rem;
}

.caja1:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

.caja2 {
	height: 171px;
	width: 147px;
	border-radius: 1rem;
	color: #918c8c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.barra2 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	margin-top: 10px;
	border-radius: 2rem;
}

.caja2 p {
	margin-top: 15px;
}

.caja2:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

.caja3 {
	height: 171px;
	width: 147px;
	border-radius: 1rem;
	color: #918c8c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.barra3 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	border-radius: 2rem;
	margin-top: 10px;
}

.caja3 p {
	margin-top: 15px;
}

.caja3:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

.caja4 {
	height: 171px;
	width: 147px;
	border-radius: 1rem;
	color: #918c8c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.barra4 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	margin-top: 10px;
	border-radius: 2rem;
}

.caja4 p {
	margin-top: 15px;
}

.caja4:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

.caja5 {
	height: 171px;
	width: 147px;
	color: #918c8c;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.barra5 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	margin-top: 10px;
	border-radius: 2rem;
}

.caja5 p {
	margin-top: 15px;
}

.caja5:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

.caja6 {
	height: 171px;
	width: 147px;
	border-radius: 1rem;
	color: #918c8c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.barra6 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	margin-top: 10px;
	border-radius: 2rem;
}

.caja6 p {
	margin-top: 15px;
}

.caja6:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

.caja7 {
	height: 171px;
	width: 147px;
	border-radius: 1rem;
	color: #918c8c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.barra7 {
	height: 4px;
	width: 24px;
	background: linear-gradient(to right, #ffa400, #fc2933);
	margin-top: 10px;
	border-radius: 2rem;
}

.caja7 p {
	margin-top: 15px;
}

.caja7:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.1);
}

/*SECCION POPULARES EMILIAN ZAPATA*/

#populares {
	padding: 70px 0;
	width: 85%;
	max-width: 1200px;
}
#populares h2 {
	color: #fafafa;
	max-width: 240px;
	font-weight: 500;
	text-align: left;
	position: relative;
	margin-bottom: 30px;
}
h2::after {
	content: "";
	height: 2px;
	width: 100%;
	background: #fafafa;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.4s ease;
}
h2:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

#target {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-family: "lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	gap: 20px;
}

#target .menu {
	background-color: #252525;
	height: 213px;
	width: 282px;
	border-radius: 15px;
}

.menu {
	border: #000000 solid 1px;
	transition: border 0.3s ease-in;
}

.menu:hover {
	border: #fb103d solid 1px;
	transition: all 0.5s ease-in-out;
}
.menu .pizza {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0px 20px;
}

.menu img {
	margin: 15px;
	border-radius: 16px;
	height: 97px;
	width: 250px;
	object-fit: cover;
}
.menu p {
	font-size: 15px;
	color: #f0f8ff;
}
.menu .precio {
	font-size: 19px;
	font-style: normal;
	background: linear-gradient(98.81deg, #ffa100, #fb103d);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: bold;
}
.menu span {
	color: #ffffff;
	font-size: 14px;
	opacity: 0.3;
}
.menu button {
	border: none;
	width: 85px;
	height: 29px;
	border-radius: 17.5px;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(98.81deg, #ffa100, #fb103d);
	border: none;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.5s;
}

.menu button:hover {
	color: #000000;
	transition: all 0.5s;
}
/*footer*/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 60px 0 55px 0;
}

footer ul {
	text-decoration: none;
	list-style: none;
}
footer a {
	text-decoration: none;
}

footer a,
footer p {
	color: #ffffff;
	font-size: 17px;
	font-family: "lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

footer span {
	font-weight: 800;
}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.footer-links a:hover {
	color: white;
}

.wrapper {
	display: inline-flex;
	list-style: none;
}

.wrapper .icon {
	position: relative;
	background: #727171;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
	background: #1877f2;
	color: #ffffff;
	transform: scale(1.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
	background: #1da1f2;
	color: #ffffff;
	transform: scale(1.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
	background: #e4405f;
	color: #ffffff;
	transform: scale(1.1);
}

/* .wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before{
    background: #333333;
    color: #ffffff;
    transform: scale(1.1);
} */

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
	background: #cd201f;
	color: #ffffff;
	transform: scale(1.1);
}
