@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap%22");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #000000;
}

#recomendaciones{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 60px;
    flex-wrap: wrap;
}

#recomendaciones h2{
    color: #fafafa;
    max-width: 280px;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding: 0;
}

#recomendaciones h2::after{
    content: "";
    height: 2px;
    width: 100%;
    background: #fafafa;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;
}

#recomendaciones h2:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}

.recomendaciones-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}

.recomendaciones-card-1{
    width: 360px;
    height: 90px;
    display: flex;
    gap: 20px;
    background: #252525;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
}

.recomendaciones-card-1:hover{
    transform: scale(1.06);
    transition: all 0.4s linear;
}

.recomendaciones-card-1 img{
    height: 70px;
    width: 70px;
}

.recomendaciones-card-1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recomendaciones-card-1 p{
    background: #252525;
    color: #fafafa;
}

.recomendaciones-card-1 p:nth-of-type(2){
    color: #727272;
}

.recomendaciones-card-1 p:nth-of-type(3){
    
    background: linear-gradient(to right, #ffa100, #fb103d );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
    font-size: 1.4em;
    
}



.recomendaciones-card-1 button{
    background: linear-gradient(to right, #ffa100, #fb103d );
    color: #fafafa;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s;
}

.recomendaciones-card-1 button:hover{
    color: #000000;
    transition: all 0.5s;
}

.recomendaciones-card-2{
    width: 360px;
    height: 90px;
    display: flex;
    gap: 20px;
    background: #252525;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
}

.recomendaciones-card-2:hover{
    transform: scale(1.06);
    transition: all 0.4s linear;
}

.recomendaciones-card-2 img{
    height: 70px;
    width: 70px;
}

.recomendaciones-card-2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recomendaciones-card-2 p{
    background: #252525;
    color: #fafafa;
}

.recomendaciones-card-2 p:nth-of-type(2){
    color: #727272;
}

.recomendaciones-card-2 p:nth-of-type(3){
    
    background: linear-gradient(to right, #ffa100, #fb103d );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
    font-size: 1.4em;
    
}

.recomendaciones-card-2 button{
    background: linear-gradient(to right, #ffa100, #fb103d );
    color: #fafafa;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s;
}

.recomendaciones-card-2 button:hover{
    color: #000000;
    transition: all 0.5s;
}

.recomendaciones-card-3{
    width: 360px;
    height: 90px;
    display: flex;
    gap: 20px;
    background: #252525;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
}

.recomendaciones-card-3:hover{
    transform: scale(1.06);
    transition: all 0.4s linear;
}

.recomendaciones-card-3 img{
    height: 70px;
    width: 70px;
}

.recomendaciones-card-3 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recomendaciones-card-3 p{
    background: #252525;
    color: #fafafa;
}

.recomendaciones-card-3 p:nth-of-type(2){
    color: #727272;
}

.recomendaciones-card-3 p:nth-of-type(3){
    
    background: linear-gradient(to right, #ffa100, #fb103d );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
    font-size: 1.4em;
    
}

.recomendaciones-card-3 button{
    background: linear-gradient(to right, #ffa100, #fb103d );
    color: #fafafa;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s;
}

.recomendaciones-card-3 button:hover{
    color: #000000;
    transition: all 0.5s;
}